body {
  margin: 0;
}

ux-dialog-overlay {
	background-color: rgba(0,0,0,0.4);
}

.overlay {
  	position: absolute;
  	display: table;
  	text-align: center;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10000;
}

.overlay-box {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 30%;
	height: 30%;
	z-index: 10001;
}

.overlay-box-content {
	display: inline-block;
	margin: 0 auto;
}

.overlay-box-content-inside {
	padding: 20px;
	border-radius: 50px;
	background-color: rgba(140, 0, 0, 0.95);
	color: white;
	font-size: larger;
	font-weight: bold;
}

.overlay-progress {
    width: 100%;
    background-color: grey;
}
.overlay-bar {
    width: 0%;
    height: 20px;
    background-color: green;
}

.halign {
	text-align: center;
}

.valign {
	vertical-align: middle;
}

.width100 {
	width: 100%;
}

.width50 {
	width: 50%;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.noshow {
	display: none !important;
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.modal-container {
	border: 1px solid gray;
	border-radius: 20px;
}

.modal-message {
	padding: 15px;
}

.modal-icon {
	vertical-align: middle;
}

.modal-span {
	white-space: pre-line;
	margin-left: 10px;
	font-size: larger;
	text-align: center;
}

.color-white {
	color: white;
}

.color-black {
    color: black;
}

.color-gray {
	color: gray;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-blue {
    color: blue;
}

.color-yellow {
    color: orangered;
}

.message-error-red {
	color: red;
}

.message-question-green {
    color: green;
}

.message-info-blue {
    color: blue;
}

.message-warning-orange {
    color: orangered;
}

.div-border {
	border: 1px solid black;
	border-radius: 20px;
	padding: 15px;
}

.label-border {
    border: 1px solid gray;
    border-radius: 10px;
}
