body {
  margin: 0;
}

ux-dialog-overlay {
	background-color: rgba(0,0,0,0.4);
}

.overlay {
  	position: absolute;
  	display: table;
  	text-align: center;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10000;
}

.overlay-box {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 30%;
	height: 30%;
	z-index: 10001;
}

.overlay-box-content {
	display: inline-block;
	margin: 0 auto;
}

.overlay-box-content-inside {
	padding: 20px;
	border-radius: 50px;
	background-color: rgba(140, 0, 0, 0.95);
	color: white;
	font-size: larger;
	font-weight: bold;
}

.overlay-progress {
    width: 100%;
    background-color: grey;
}
.overlay-bar {
    width: 0%;
    height: 20px;
    background-color: green;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 48px;
  line-height: 48px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.noshow {
	display: none !important;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}


